<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/blogs" method="POST">
                <label for="title">Blog title:<title></title></label>
                <input type="text" id="title" name="title" required>
                <label for="snippet">Blog snippet:<title></title></label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="body">Blog body:<title></title></label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>
</html>